// Lê 2 números, guarda em memória, vai buscá-los à memória e calcula o máximo

pushi 0
pushi 0
start
read
atoi
storeg 0
read
atoi
storeg 1

// if a > b
pushg 0
pushg 1
sup
jz else

pushg 0 // a
writei  // escrevo o a
jump fim

else:
    pushg 1 // b
    writei  // escrevo o b
fim:
    pushs "\n"
    writes
    stop