extends layout

block content
    .w3-container.w3-teal
        li 
          a(href="/students/").w3-button.w3-teal.w3-round-small Lista de Alunos
        li
          a(href="/students/registar/").w3-button.w3-teal.w3-round-small Registar Aluno
    .w3-container.w3-teal
        footer.w3-container
            p
              adress Gerado por DAW2020:: João Abreu
