extends layout

block content
  .w3-container.w3-margin
    table.w3-table-all
      tr
        th Designacao
        th Data
        th Quantiade
      each t in dados
        tr(id=t.id)
          th
            a(href='/lista/'+t._id)= t.designacao
          th
            a(href='/lista/'+t._id)= t.data
          th
            a(href='/lista/'+t._id)= t.quantidade